//  bootstrap lib
@import '~bootstrap/scss/bootstrap.scss';

//  bootstrap icons
@import "~bootstrap-icons/font/bootstrap-icons.css";

//  style.css
.bb-orange {
    border-bottom: 1px solid orange;
}

.text-elipsis {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }